<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .align {
                float: right;
                padding-right: 16px
            }
            
            .pad1 {
                padding-right: 16px
            }

            .error {
                color: red;
            }

        </style>
    </head>
    <body>
        <a href='/' class = "pad1">Home</a>
        <a href='/blog' class = "pad1">all posts</a>
        <a href='/newpost'>new post</a>

        <a href='/logout' class = 'align'>logout</a>
        <a href='/login'  class = 'align'>login</a>

        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            <!-- this is a tuple of message, category -->
            {% for category, message in messages %}
            <!-- class= can be used as a css style above. This can be used
            for different categories - eg information category colored blue
            warning category colored yellow, etc -->
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
        </ul>
        {% endwith %}

    {% block content %}
    {% endblock %}

    </body>
</html>
